header {
    position: relative;
}

.logo {
    width: 80px;
    text-align: left;
    font-size: 30px;
    padding: 8px 0 8px 30px;
}

img {
    border: 0;
    margin: 0;
    padding: 0;
}

.phone {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
}

nav {
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #333;
    padding-left: 30px;
}

nav a {
    width: 100px;
    height: 45px;
    background: #333;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

nav a.active {
    background: #ff6633;
}

.banner {
    background: url("../images/banner.jpg") no-repeat center center;
    width: 100%;
    height: 742px;
}

.question {
    padding: 40px;
    text-align: center;
}

.wrap1 {
    position: relative;
    width: 1200px;
    height: 500px;
    background: url("../images/person.jpg") no-repeat center center;
    margin: 0 auto;
}

.box {
    width: 280px;
    height: 100px;
    padding: 10px;
    border: 1px solid #ff6633;
    border-radius: 5px;
    position: absolute;
    color: #333;
    z-index: 9999;
}

.num1 {
    left: 200px;
    top: 0;
}

.num2 {
    top: 0;
    right: 200px;
}

.num3 {
    top: 130px;
    left: 100px;
}

.num4 {
    top: 130px;
    right: 100px;
}

.num5 {
    top: 260px;
    left: 170px;
}

.num6 {
    top: 260px;
    right: 145px;
}

.box h2 {
    font-size: 18px;
    text-align: center;
    margin: 8px 0;
}

.answer {
    font-size: 14px;
    line-height: 20px;
    padding-left: 10px;
}

.wrap2 {
    width: 100%;
    background: #ff6666;
    color: #fff;
    padding: 50px 0 100px 0;
}

.wrap2 h3 {
    margin: 5px 0 40px 0;
}

.progress, .progress1 {
    display: table;
    width: 1200px;
    margin: 0 auto;
}

.progress h2 {
    padding: 20px 0;
}

.progress div {
    color: #fff;
    display: table-cell;
    float: left;
    width: 23%;
    text-align: center;
    position: relative;
    margin-right: 2%;
}

.progress1 div {
    color: #fff;
    display: table-cell;
    float: left;
    width: 30%;
    text-align: center;
    position: relative;
    margin-right: 5%;
}

.progress1 div:last-child {
    margin-right: 0;
}

.icon {
    background: url("../images/a.png") no-repeat;
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
}

.one {
    background-position: 0 0;
}

.two {
    background-position: 0 -60px;
}

.three {
    background-position: 0 -120px;
}

.four {
    background-position: 0 -180px;
}

.wrap3 {
    padding: 100px 0;
    background: #333;
    color: #fff;
}

.wrap3 .progress {
    width: 1200px;
    margin: 0 auto;
}

.wrap4 {
    width: 100%;
    background: #ff6666;
    color: #fff;
    padding-bottom: 50px;
}

.wrap4 h1 {
    font-size: 45px;
    text-align: center;
    padding: 50px 0;
}

.wrap4 p {
    width: 1200px;
    margin: 0 auto;
    line-height: 28px;
    padding-left: 20px;
    font-size: 18px;
    text-indent: 2em;
}

footer {
    width: 100%;
    background: #333;
    padding: 50px 50px 50px 100px;
    overflow: hidden;
}

footer img {
    float: left;
    margin-right: 20px;
}

.contact {
    float: left;
    color: #fff;
}

.contact h2 {
    font-size: 30px;
    line-height: 50px;
}

.contact p {
    line-height: 30px;
    font-size: 16px;
}

.map {
    width: 100%;
    text-align: center;
}

.map p {
    line-height: 60px;
    font-size: 18px;
}

.banner1 {
    background: url("../images/banner1.jpg") no-repeat center center;
    width: 100%;
    height: 300px;
}

.padd30 {
    padding: 30px;
}

.content li {
    line-height: 28px;
}

.line {
    border-bottom: 2px solid #EBEBEB;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line h2 {
    border-bottom: 2px solid #ff6633;
    font-size: 20px;
    line-height: 28px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-bottom: -2px;
}


